APP_URL=https://spotistate.fdlo.ch/
MONGO_DB_URI=<CONNECTION_STRING>
NETWORK_INTERFACE=0.0.0.0
SPOTIFY_CLIENT_ID=<ID>
SPOTIFY_CLIENT_KEY=<SECRET>
ENV=DEV
SECRET=<SOME KEY MATERIAL, THIS CAN BE SOME WEIRD BYTES OR A WEIRD SENTENCE LIKE THIS>