doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no")
    meta(name="theme-color" content="rgb(22, 97, 122)")
    link(rel='apple-touch-icon-precomposed' sizes='57x57' href='apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed' sizes='114x114' href='apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed' sizes='72x72' href='apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed' sizes='144x144' href='apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed' sizes='60x60' href='apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed' sizes='120x120' href='apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed' sizes='76x76' href='apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed' sizes='152x152' href='apple-touch-icon-152x152.png')
    link(rel='icon' type='image/png' href='favicon-196x196.png' sizes='196x196')
    link(rel='icon' type='image/png' href='favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='favicon-128.png' sizes='128x128')
    meta(name='application-name' content=' ')
    meta(name='msapplication-TileColor' content='#FFFFFF')
    meta(name='msapplication-TileImage' content='mstile-144x144.png')
    meta(name='msapplication-square70x70logo' content='mstile-70x70.png')
    meta(name='msapplication-square150x150logo' content='mstile-150x150.png')
    meta(name='msapplication-wide310x150logo' content='mstile-310x150.png')
    meta(name='msapplication-square310x310logo' content='mstile-310x310.png')
    link(rel="stylesheet" href="./style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    include includes/modal.pug

    title Spotistate
  body
    #app.v-cloak
      modal(v-if='showModal' @close='showModal = false')
        p(slot='header') Ooops, something went wrong :/
        p(slot='body') {{errorMessage}}
      .header Spotistate
      .active-device-list(v-bind:class="{'no-active-devices': activeDevices.length == 0}")
        div(v-if="activeDevices.length > 0") Currently active device(s):
          li(v-for="(device) in activeDevices") {{device.name}}
        div(v-else)
          button.btn.btn-primary.btn-sm(v-on:click="fetchActiveDevices()") No active device. Click to Refresh.

      .container
        .row.mt-4
          .col-md-4(v-for='(state, slotNo) in playerStates')
            .card.mb-4.box-shadow
              img.card-img-top(:src='state.albumArtURL' alt='Album art provided by Spotify')
              .card-body
                .card-content
                  h5.card-title {{state.trackName}}
                  p.card-text
                    i.fas.fa-compact-disc.spacer
                    | {{state.albumName}}
                  p.card-text
                    i.fas.fa-user-friends.spacer
                    | {{state.artistName}}
                  p.card-text
                    i.fas.fa-hourglass-end.spacer
                    | {{state.progress | time}} / {{state.duration | time}}
                .row.mt-2
                  .col-lg-4.p-1
                    button.btn-block.btn.btn-primary(v-on:click='storePlayerStateInSlot(slotNo)', :disabled="activeDevices.length == 0")
                      i.fas.fa-stop-circle
                  .col-lg-4.p-1.btn-group.btn-block
                    button.btn.btn-success(v-bind:class="{'col-8': activeDevices.length > 1}" v-on:click='restorePlayerStateFromSlot(slotNo)', :disabled="activeDevices.length == 0")
                      i.fas.fa-play-circle
                    template(v-if="activeDevices.length > 1")
                      button.bcol-4.btn.btn-success.dropdown-toggle.dropdown-toggle-split(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        span.sr-only Toggle Dropdown
                      .dropdown-menu
                        btn.dropdown-item.disabled Start playback on:
                        .dropdown-divider
                        btn.dropdown-item(v-for="(device) in activeDevices" v-on:click="restorePlayerStateFromSlot(slotNo, device.id)") {{device.name}}
                  .col-lg-4.p-1
                    button.btn-block.btn.btn-danger(v-on:click='removeSlot(slotNo)')
                      i.fas.fa-trash-alt
          .col-md-4
            .card.mb-4.box-shadow
              button.btn.btn-block.btn-primary.store-state-btn(type="button" v-on:click="storePlayerStateInNewSlot" :disabled="activeDevices.length == 0")
                i.fas.fa-stop-circle
        div
      .footer
        | Powered by
        |
        a(href="https://golang.org" target="_blank") Go
        | ,
        |
        a(href="https://vuejs.org" target="_blank") Vue.js
        |
        | and
        |
        a(href="https://getbootstrap.com" target="_blank") Bootstrap
        |. Favicon (edited) and other icons originate from the
        |
        a(href="https://fontawesome.com" target="_blank") Font Awesome project
        |
        | (see
        |
        a(href="https://fontawesome.com/license" target="_blank") licence
        | ).
        br
        | Check out at
        |
        a(href="https://github.com/FlorianLoch/Spotistate") Github
        |.
        br
        | Running UI version #{version}, built at #{buildDate}.

    script(src='./script.js')