doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="theme-color", content="#1DB954")
    link(rel='stylesheet', href='./style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")
    include includes/modal.pug

    title Spotistate
  body
    #app.v-cloak
      modal(v-if='showModal', @close='showModal = false')
        p(slot='header') Ooops, something went wrong :/
        p(slot='body') {{errorMessage}}
      .header
        | Spotistate
      .container
        .row.mt-4
          .col-md-4(v-for='(state, slotNo) in playerStates')
            .card.mb-4.box-shadow
              img.card-img-top(:src='state.albumArtURL', alt='Album art provided by Spotify')
              .card-body
                div.card-content
                  h5.card-title {{state.trackName}}
                  p.card-text
                    i.fas.fa-compact-disc.spacer
                    | {{state.albumName}}
                  p.card-text
                    i.fas.fa-user-friends.spacer
                    | {{state.artistName}}
                  p.card-text
                    i.fas.fa-hourglass-end.spacer
                    | {{state.progress | time}} / {{state.duration | time}}
                .row.mt-2
                  .col-lg-4.p-1
                    button.btn-block.btn.btn-primary(v-on:click='storePlayerStateInSlot(slotNo)')
                      i.fas.fa-stop-circle
                  .col-lg-4.p-1.btn-group.btn-block
                    button.btn.btn-success(v-bind:class="{'col-8': activeDevices.length > 1}", v-on:click='restorePlayerStateFromSlot(slotNo)')
                      i.fas.fa-play-circle
                    template(v-if="activeDevices.length > 1")
                      button.bcol-4.btn.btn-success.dropdown-toggle.dropdown-toggle-split(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                        span.sr-only Toggle Dropdown
                      .dropdown-menu
                        btn.dropdown-item.disabled Start playback on:
                        .dropdown-divider
                        btn.dropdown-item(v-for="(device) in activeDevices", v-on:click="restorePlayerStateFromSlot(slotNo, device.id)") {{device.name}}
                  .col-lg-4.p-1
                    button.btn-block.btn.btn-danger(v-on:click='removeSlot(slotNo)')
                      i.fas.fa-trash-alt
          .col-md-4
            .card.mb-4.box-shadow
              button.btn.btn-block.btn-primary.store-state-btn(type='button', v-on:click='storePlayerStateInNewSlot')
                i.fas.fa-stop-circle
        div
      .footer
        | Powered by
        |
        a(href="https://golang.org") Go
        | ,
        |
        a(href="https://vuejs.org") Vue.js
        |
        | and
        |
        a(href="https://getbootstrap.com") Bootstrap
        |. Favicon and other icons originate from the
        |
        a(href="https://fontawesome.com") Font Awesome project
        |
        | (see
        |
        a(href="https://fontawesome.com/license") licence
        | ).
        br
        | Check out at
        |
        a(href="https://github.com/FlorianLoch/Spotistate") Github
        |.
        br
        | Running UI version #{version}, built at #{buildDate}.

    script(src='./script.js')