// To be used with https://github.com/hexdigest/gowrap
// Based on https://github.com/hexdigest/gowrap/blob/a00b5e810bdf0db43652c86216d4dfd2fc8c9afc/templates/retry
import (
	"time"

  "github.com/rs/zerolog/log"
)

{{ $decorator := (or .Vars.DecoratorName (printf "%sWithRetry" .Interface.Name)) }}

// {{$decorator}} implements {{.Interface.Type}} interface instrumented with retries
type {{$decorator}} struct {
  {{.Interface.Type}}
  _retryCount int
  _waitFor time.Duration
}

// New{{$decorator}} returns {{$decorator}}
func New{{$decorator}} (base {{.Interface.Type}}, retryCount int, waitFor time.Duration) {{$decorator}} {
  return {{$decorator}} {
    {{.Interface.Name}}: base,
    _retryCount: retryCount,
    _waitFor: waitFor,
  }
}

{{range $method := .Interface.Methods}}
  {{if $method.ReturnsError}}
    // {{$method.Name}} implements {{$.Interface.Type}}
    func (_d {{$decorator}}) {{$method.Declaration}} {
      {{$method.ResultsNames}} = _d.{{$.Interface.Name}}.{{$method.Call}}
      if err == nil || _d._retryCount < 1 {
        return
      }
      _ticker:= time.NewTicker(_d._waitFor)
      defer _ticker.Stop()
      for _i := 0; _i < _d._retryCount && err != nil; _i++ {
        {{- if $method.AcceptsContext}}
          select {
          case <-ctx.Done():
            return
          case <-_ticker.C:
          }
        {{else}}
          <-_ticker.C
        {{end -}}
        {{$method.ResultsNames}} = _d.{{$.Interface.Name}}.{{$method.Call}}
        if err != nil {
          log.Warn().Msgf("Call to '{{$method.Name}}' only succeeded due to retrying %d time(s).", _i + 1)
        }
      }
      return
    }
  {{end}}
{{end}}