// Define our colors
$alabaster: #EFEDE6;
$english-red: #B23A48;
$red-violet: #8C2F39;
$nice-blue: #304C89;

// Customize Bootstrap
$body-bg: $alabaster;
$primary: $nice-blue;
$danger: $english-red;


// Import Boostrap-Vue and Bootstrap
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Import n-progress and customize it a little
@import '~nprogress/nprogress.css';

// Make the progressbar a little bolder and more fancy in general
$progress-bar: $alabaster;

#nprogress .bar {
  height: 10px !important;
  background: $progress-bar !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $progress-bar, 0 0 5px $progress-bar !important;
}

// Spinner is currently deactivated
#nprogress .spinner-icon {
  border-top-color: $progress-bar !important;
  border-left-color: $progress-bar !important;
  border-radius: 50%;
}


// Own styles
html {
  font-size: 16px;
}

.center-sm {
  @media (max-width: 767px) {
    // Center logo on phones, title is not shown
    text-align: center !important;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

[v-cloak] {
  display: none
}

body {
  background-color: rgb(30, 30, 30);
}

.header, .footer {
  width: 100%;
  padding: 5px;
  background-color: $red-violet;
  color: $alabaster;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.header {
  font-size: 2rem;

  #logo {
    width: 12rem;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #title {
    font-size: 5rem;
    // font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
}

.footer {
  height: 6rem;
  font-size: 1rem;
}

.page-content {
  height: calc(100vh - 6rem);
}

.not-on-mobile {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.only-mobile {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.active-device-list {
  width: 100%;
  background-color: $nice-blue;
  color: $alabaster;
  font-size: 1.2rem;

  white-space: nowrap;
  overflow: auto;
}

.no-active-devices {
  background-color: $english-red !important;
  color: black !important;
}

.spacer {
  margin-right: 10px;
}

.card-content {
  min-height: 250px;
}

.floating-btn {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 40px;
  // Using this instead of 'right: 40px' avoid jumping in case
  // a scrollbar gets shown. This happens for example when the modal is invoked.
  left: calc(100vw - 6rem - 40px);
  // right: 35px;
  background-color: $nice-blue;
  color: $alabaster;
  border-radius: 3rem;
  text-align: center;
  vertical-align: middle;
  box-shadow: 2px 2px 5px darken($color: $nice-blue, $amount: 5);
  transition: background-color 0.5s;

  i {
    line-height: 6rem;
    font-size: 5rem;
    transition: transform 1s;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &:hover {
    background-color: $alabaster;
  }
}
// until here