// Define our colors
$alabaster: #efede6;
$english-red: #b23a48;
$red-violet: #8c2f39;
$nice-blue: #304c89;

// Customize Bootstrap
$body-bg: $alabaster;
$primary: $nice-blue;
$danger: $english-red;

// Import Boostrap-Vue and Bootstrap
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

// Import n-progress and customize it a little
@import "~nprogress/nprogress.css";

// Make the progressbar a little bolder and more fancy in general
$progress-bar: $alabaster;

#nprogress .bar {
  height: 10px !important;
  background: $progress-bar !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $progress-bar, 0 0 5px $progress-bar !important;
}

// Own styles
html {
  font-size: 16px;
}

.center-sm {
  @include media-breakpoint-down(sm) {
    // Center logo on phones, title is not shown
    text-align: center !important;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

[v-cloak] {
  display: none;
}

body {
  background-color: rgb(30, 30, 30);
}

.header,
.footer {
  width: 100%;
  padding: 5px;
  background-color: $red-violet;
  color: $alabaster;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.header {
  font-size: 2rem;

  #logo {
    width: 12rem;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #title {
    font-size: 5rem;
    // font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
}

.footer {
  height: 6rem;
  font-size: 1rem;
}

.page-content {
  min-height: calc(100vh - 6rem);
}

.not-on-mobile {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}

.only-mobile {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.active-device-list {
  width: 100%;
  background-color: $nice-blue;
  color: $alabaster;
  font-size: 1.2rem;
}

.no-active-devices {
  background-color: $english-red !important;
  color: black !important;
}

.progress {
  // Adjust the progress bar of Vue Bootstrap a little
  border-radius: 0;
  height: 0.7rem;
}

.card-content {
  min-height: 250px;

  .info-table {
    display: table;
    table-layout: fixed;
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
  }

  .table-cell:nth-child(1) {
    min-width: 2rem;
  }

  $lh: 1.5rem;
  h5 {
    line-height: $lh;
    height: calc(2 * #{$lh})
  }

  p, h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0.7rem;
  }
}

.floating-btn {
  $width: 6rem;
  $margin_page_edge: 2.5rem;
  position: fixed;
  width: $width;
  height: $width;
  bottom: $margin_page_edge;
  // Using this instead of 'right: $margin' avoid jumping in case
  // a scrollbar gets shown. This happens for example when the modal is invoked.
  left: calc(100vw - #{$width} - #{$margin_page_edge});
  // right: 35px;
  background-color: $nice-blue;
  color: $alabaster;
  border-radius: calc(#{$width} / 2);
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 5px darken($color: $nice-blue, $amount: 5);
  transition: color 1s, background-color 1s;

  &[disabled] {
    background-color: grey;
  }

  &:not([disabled]) {
    &:hover {
      background-color: $alabaster;
      color: $nice-blue;
    }

    i:hover {
      transform: rotate(360deg);
    }
  }

  &:hover {
    color: $alabaster;
  }

  i {
    line-height: $width;
    font-size: 5rem;
    transition: transform 1s;
  }
}
