// Define our colors
$alabaster: #efede6;
$english-red: #b23a48;
$red-violet: #8c2f39;
$nice-blue: #304c89;

// Customize Bootstrap
$body-bg: $alabaster;
$primary: $nice-blue;
$danger: $english-red;

// Import Bootstrap-Vue and Bootstrap
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

@import "./shepherdjs.scss";
.shepherd-has-title .shepherd-content .shepherd-header {
  background-color: $nice-blue;
}
.shepherd-title {
  color: $alabaster;
}
.shepherd-content {
  background-color: $alabaster;
}
.shepherd-arrow:before {
  background-color: $alabaster;
  border: 2px solid $english-red;
}
.shepherd-cancel-icon {
  color: $alabaster !important;
}
.shepherd-cancel-icon:hover {
  color: $english-red !important;
}


// Import n-progress and customize it a little
@import "~nprogress/nprogress.css";

// Make the progressbar a little bolder and more fancy in general
$progress-bar: $alabaster;

#nprogress .bar {
  height: 10px !important;
  background: $progress-bar !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $progress-bar, 0 0 5px $progress-bar !important;
}

// Own styles
html {
  font-size: 16px;
}

.center-sm {
  @include media-breakpoint-down(sm) {
    // Center logo on phones, title is not shown
    text-align: center !important;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

[v-cloak] {
  display: none;
}

body {
  // Background pattern taken from https://www.svgbackgrounds.com/#large-triangles
  background-color: #170809;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.header,
.footer {
  width: 100%;
  padding: 5px;
  background-color: $red-violet;
  color: $alabaster;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.header {
  font-size: 2rem;

  #logo {
    width: 12rem;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #title {
    font-size: 5rem;
    // font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
}

$footer-height: 10rem;
.footer {
  height: $footer-height;
  font-size: 1rem;

  .build-info {
    color: grey;
  }
}

.page-content {
  min-height: calc(100vh - #{$footer-height});
}

.not-on-mobile {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}

.only-mobile {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.active-device-list {
  width: 100%;
  background-color: $nice-blue;
  color: $alabaster;
  font-size: 1.2rem;
}

.no-active-devices {
  background-color: $english-red !important;
  color: black !important;
}

.progress {
  // Adjust the progress bar of Vue Bootstrap a little
  border-radius: 0;
  height: 0.7rem;
}

.card-content {
  min-height: 280px;

  .info-table {
    display: table;
    table-layout: fixed;
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
  }

  .table-cell:nth-child(1) {
    min-width: 2rem;
  }

  $lh: 1.5rem;
  h5 {
    line-height: $lh;
    height: calc(2 * #{$lh})
  }

  p, h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0.7rem;
  }
}

.floating-btn {
  $width: 7rem;
  $margin_page_edge: 2.5rem;
  position: fixed;
  z-index: 100;
  width: $width;
  height: $width;
  bottom: $margin_page_edge;
  // Using this instead of 'right: $margin' avoid jumping in case
  // a scrollbar gets shown. This happens for example when the modal is invoked.
  left: calc(100vw - #{$width} - #{$margin_page_edge});
  // right: 35px;
  background-color: $nice-blue;
  color: $alabaster;
  border-radius: calc(#{$width} / 2);
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 5px darken($color: $nice-blue, $amount: 5);
  transition: color 1s, background-color 1s;

  &[disabled] {
    background-color: grey;
  }

  &:not([disabled]) {
    &:hover {
      background-color: $alabaster;
      color: $nice-blue;
    }

    i:hover {
      transform: rotate(360deg);
    }
  }

  &:hover {
    color: $alabaster;
  }

  i {
    line-height: $width;
    font-size: $width;
    transition: transform 1s;
  }
}

// In order to for some spam bot to find this email address it needs to be capable of rendering
// the DOM including the CSS pseudo selectors. A simple regex should not be able to find it.
#emailAddress {
  &::before {
      content: "me@";
  }

  &::after {
      content: "fdlo.ch";
  }
}
